* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
}

header {
	width: 100%;
	height: 80vh;
	background-image: linear-gradient(to top, #000000f5, #00000013),
		url(./images/sunset-815270_1280.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

main {
	color: #fff;
	margin-top: 2rem;
}

.content {
	width: 60%;
	margin-left: 15rem;
}

h1 {
	text-align: center;
	margin: 2rem 0;
	font-size: 5rem;
}

p {
	font-size: 2rem;
	margin: 2rem 0;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: yellow;
}
