* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	height: 20vh;
	background-image: linear-gradient(
		50deg,
		#800080 50%,
		#f7e3f8 50% 55%,
		#800080 55% 70%,
		#f7e3f8 70% 100%
	);
}

.box {
	width: 30%;
	position: relative;
}

h1 {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 3rem;
	position: absolute;
	top: 4rem;
	left: 10rem;
}
